
<div class="spinner-container" *ngIf="(loading$ | async)">
    <mat-spinner></mat-spinner>
</div>

<div class="" *ngIf="(inbox$ | async) as inbox">
    <div *ngIf="!(loading$ | async)" class="group-container">

        <!-- Inbox -->
        <div class="element">
            <div class="inline">
                <span class="inline" style="width:100px;">Inbox</span>
                <mat-chip-listbox class="inline" *ngIf="datapipeService.getInboxStatusChipFormat(inbox.Status); let format">
                    <mat-chip [ngClass]="format.cssClass">{{ inbox.Status }}</mat-chip>
                </mat-chip-listbox>
            </div>

            <!-- Ingestions -->
            <div *ngFor="let ingestion of (inbox.Ingestions$ | async)" class="element group-1">
                <div class="inline">
                    <span class="inline" style="width:100px">Ingestion</span>
                    <span class="inline">{{ ingestion.CreatedTS | date: 'dd/MM/yyyy HH:mm:ss':'GMT' }}</span>
                    <span class="inline">
                        <button class="inline" mat-mini-fab color="link" [disabled]="!ingestion.HeaderId" matTooltip="View Trace" (click)="datapipeService.clickSession(+ingestion.HeaderId, inbox.Namespace)">
                            <mat-icon>zoom_in</mat-icon>
                        </button>
                        <button class="inline" mat-mini-fab color="link" matTooltip="Model Data" (click)="clickIngestionStream(ingestion.Id)">
                            <mat-icon>code</mat-icon>
                        </button>
                    </span>
                </div>
                
                <!-- Stagings -->
                <div *ngFor="let staging of (ingestion.Stagings$ | async)" class="element group-2">
                    <div class="inline">
                        <span class="inline" style="width:100px">Staging</span>
                        <span class="inline">{{ staging.CreatedTS | date: 'dd/MM/yyyy HH:mm:ss':'GMT' }}</span>
                        <mat-chip-listbox class="inline" style="margin: 0 10px 0 10px;" *ngIf="datapipeService.getStagingStatusChipFormat(staging.Status, staging.ValidationErrorsJson); let format">
                            <mat-chip [ngClass]="format.cssClass">
                            <mat-icon [matTooltip]="format.tooltip">
                                {{ format.icon }}
                            </mat-icon>
                            {{ format.desc }}
                            </mat-chip>
                        </mat-chip-listbox>
                        <span class="inline">
                            <button mat-mini-fab color="link" style='margin-right: 10px;' [disabled]="!staging.HeaderId" matTooltip="View Trace" (click)="datapipeService.clickSession(+staging.HeaderId, inbox.Namespace)">
                                <mat-icon>zoom_in</mat-icon>
                            </button>
                            <button mat-mini-fab color="link" style='margin-right: 10px;' matTooltip="Model Normalized Data" (click)="clickStagingStream(staging.Id)">
                                <mat-icon>code</mat-icon>
                            </button>
                        </span>
                    </div>

                    <!-- Operations -->
                    <div *ngFor="let oper of (staging.Opers$ | async)" class="element">
                        <div class="inline">
                            <span class="inline" style="width:100px">Operation</span>
                            <span class="inline">{{ oper.CreatedTS | date: 'dd/MM/yyyy HH:mm:ss':'GMT' }}</span>
                            <mat-chip-listbox class="inline" style="margin: 0 10px 0 10px;" *ngIf="datapipeService.getOperStatusChipFormat(oper.Status); let format">
                                <mat-chip [ngClass]="format.cssClass">
                                <mat-icon>
                                    {{ format.icon }}
                                </mat-icon>
                                {{ format.desc }}
                                </mat-chip>
                            </mat-chip-listbox>
                            <span class="inline">
                                <button mat-mini-fab color="link" style='margin-right: 10px;' [disabled]="!oper.HeaderId" matTooltip="View Trace" (click)="datapipeService.clickSession(+oper.HeaderId, inbox.Namespace)">
                                    <mat-icon>zoom_in</mat-icon>
                                </button>
                                <button mat-mini-fab color="link" style='margin-right: 10px;' matTooltip="Operation Log" (click)="clickOperationLogStream(oper.Id)">
                                    <mat-icon>description</mat-icon>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>