
<div class="spinner-container" *ngIf="(loading$ | async)">
    <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="(inbox$ | async) as inbox">
    <div *ngIf="!(loading$ | async)" class="group-container">

        <!-- Inbox -->
        <div  class="element">
            <div fxLayout="row" fxLayoutGap="2%">
                <span fxFlex="90px">Inbox</span>
                <mat-chip-list *ngIf="datapipeService.getInboxStatusChipFormat(inbox.Status); let format">
                    <mat-chip [ngClass]="format.cssClass">{{ inbox.Status }}</mat-chip>
                </mat-chip-list>
            </div>

            <!-- Ingestions -->
            <div *ngFor="let ingestion of (inbox.Ingestions$ | async)" class="element group-1">
                <div fxLayout="row" fxLayoutGap="2%">
                    <span fxFlex="90px">Ingestion</span>
                    <span>{{ ingestion.CreatedTS | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                    <button mat-mini-fab color="link" style='margin-right: 10px;' [disabled]="!ingestion.HeaderId">
                        <mat-icon 
                        matTooltip="View Trace" 
                        (click)="datapipeService.clickSession(ingestion.HeaderId)">
                            zoom_in
                        </mat-icon>
                    </button>
                    <button mat-mini-fab color="link" style='margin-right: 10px;'>
                        <mat-icon 
                        matTooltip="Model Data" 
                        (click)="clickIngestionStream(ingestion.Id)">
                            code
                        </mat-icon>
                    </button>
                </div>
                
                <!-- Stagings -->
                <div *ngFor="let staging of (ingestion.Stagings$ | async)" class="element group-2">
                    <div fxLayout="row" fxLayoutGap="2%">
                        <span fxFlex="90px">Staging</span>
                        <span>{{ staging.CreatedTS | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                        <mat-chip-list *ngIf="datapipeService.getStagingStatusChipFormat(staging.Status, staging.ValidationErrorsJson); let format">
                            <mat-chip [ngClass]="format.cssClass">
                            <mat-icon [matTooltip]="format.tooltip">
                                {{ format.icon }}
                            </mat-icon>
                            {{ format.desc }}
                            </mat-chip>
                        </mat-chip-list>
                        <button mat-mini-fab color="link" style='margin-right: 10px;' [disabled]="!staging.HeaderId">
                            <mat-icon 
                            matTooltip="View Trace" 
                            (click)="datapipeService.clickSession(staging.HeaderId)">
                                zoom_in
                            </mat-icon>
                        </button>
                        <button mat-mini-fab color="link" style='margin-right: 10px;'>
                            <mat-icon 
                                matTooltip="Model Normalized Data" 
                                (click)="clickStagingStream(staging.Id)">
                                code
                            </mat-icon>
                        </button>
                    </div>

                    <!-- Operations -->
                    <div *ngFor="let oper of (staging.Opers$ | async)" class="element">
                        <div fxLayout="row" fxLayoutGap="2%">
                            <span fxFlex="90px">Operation</span>
                            <span>{{ oper.CreatedTS | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                            <mat-chip-list *ngIf="datapipeService.getOperStatusChipFormat(oper.Status); let format">
                                <mat-chip [ngClass]="format.cssClass">
                                <mat-icon>
                                    {{ format.icon }}
                                </mat-icon>
                                {{ format.desc }}
                                </mat-chip>
                            </mat-chip-list>
                            <button mat-mini-fab color="link" style='margin-right: 10px;' [disabled]="!oper.HeaderId">
                                <mat-icon 
                                matTooltip="View Trace" 
                                (click)="datapipeService.clickSession(oper.HeaderId)">
                                    zoom_in
                                </mat-icon>
                            </button>
                            <button mat-mini-fab color="link" style='margin-right: 10px;'>
                                <mat-icon 
                                    matTooltip="Operation Log" 
                                    (click)="clickOperationLogStream(oper.Id)">
                                    description
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>