.group-1 {
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    border-radius: 10px;
    background-color: #fbfbfb;
    padding-right: 5px;
}

.group-2 {
    border-style: solid;
    border-width: 0.5px;
    border-color: #cccccc;
    border-radius: 10px;
    background-color: #fbfbfb;
}
 
.element {
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}