
<mat-sidenav-container fullscreen>
  
  <!-- sidenav menu -->
  <mat-sidenav #sidenav class="custom-drawer-inner-container">
    <mat-nav-list (click)="sidenav.close()">

      <img src="assets/img/logo-small.png" alt="DataPipe" class="custom-navbarIcon">

      <span class="custom-navbarTitle">
        DataPipe
      </span>
      
      <a mat-list-item routerLink="/datapipe/dashboard" *ngIf="(isLoggedIn$ | async) && authService.checkPermission('DP_MENU_DASHBOARD', 'U')">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <a mat-list-item routerLink="/datapipe" *ngIf="(isLoggedIn$ | async) && authService.checkPermission('DP_MENU_SEARCH', 'U')">
        <mat-icon matListItemIcon>search</mat-icon>
        <span matListItemTitle>Search</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/datapipe/admin/pipe" *ngIf="(isLoggedIn$ | async) && authService.checkPermission('DP_ADMIN', 'U')">
        <mat-icon matListItemIcon>account_tree</mat-icon>
        <span matListItemTitle>Pipes</span>
      </a>

      <a mat-list-item routerLink="/auth/login" *ngIf="!(isLoggedIn$ | async)">
        <mat-icon matListItemIcon>login</mat-icon>
        <span matListItemTitle>Login</span>
      </a>
    </mat-nav-list>

    <div class="footer">
      <div>
        <p style="text-align:center">
          <span [matTooltip]="info.srcTooltip">
            {{ info.name }} v{{ info.version }}
          </span>
        </p>
      </div>
    </div>

  </mat-sidenav>

  <!-- main -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" [ngClass]="envToolbarClass">

      <!-- left aligned-->
      <button class="menu-button" mat-icon-button (click)="sidenav.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
    
      <span class="fill-space"></span>
      <span>datapipeUI</span>
    
      <!-- right aligned -->
      <span class="fill-space"></span>
    
      <!-- user options -->
      <button *ngIf="(isLoggedIn$ | async)" mat-icon-button [matMenuTriggerFor]="userMenu">
        <span style="font-size:medium;font-weight:300;position:absolute;right:0px;top:10px;">
          <mat-icon>account_circle</mat-icon>
          <span style="position:relative;top:-5px">&nbsp;{{ authService.fullName }}&nbsp;</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </span>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="navigate('/auth/logout')">
          <mat-icon matListItemIcon>logout</mat-icon>Logout
        </button>
      </mat-menu>

    </mat-toolbar>
    
    <app-alert-display></app-alert-display>
    
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    
    <div class="footer">
      <div>
        <p style="text-align:center;">
          <img src="assets/img/logo-small.png" alt="DataPipe" class="custom-navbarIcon">
          <span [matTooltip]="info.srcTooltip">
            {{ info.name }} v{{ info.version }} #{{ info.srcVersion }}
          </span>
        </p>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
