<div class="">

    <div class="spinner-container" *ngIf="(loading$ | async)">
        <mat-spinner></mat-spinner>
    </div>

    <div class="section-container" *ngIf="!(loading$ | async)">

        <div class="gradient">
            <span>&nbsp;</span>
        </div>

        <!-- Inbox -->
        <div class="card-container" *ngIf="(inbox$ | async) as inbox">
            <mat-card class="dp-card mat-card" appearance="outlined" *ngIf="(inbox$ | async) as inbox">
                <mat-card-header class="mat-card-header">
                    <div mat-card-avatar><img mat-card-image src="assets/img/inbox.png" class="circular-avatar"></div>
                    <mat-card-title>INBOX</mat-card-title>
                    <mat-card-subtitle>Incoming data</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <div class="chip-container">
                        <mat-chip-listbox *ngIf="datapipeService.getInboxStatusChipFormat(inbox.Status); let format">
                            <mat-chip [ngClass]="format.cssClass">{{ inbox.Status }}</mat-chip>
                        </mat-chip-listbox>
                    </div>
                    <div class="info-section">
                        <div class="info-row">
                            <mat-icon>access_time</mat-icon>
                            <div>
                                <div class="info-label">Updated</div>
                                <div>{{inbox.UpdatedTS | date: 'dd/MM/yyyy HH:mm:ss':'GMT'}}</div>
                            </div>
                        </div>
                        <div class="info-row" *ngIf="inbox.Namespace">
                            <mat-icon>tab</mat-icon>
                            <div>
                                <div class="info-label">Namespace</div>
                                <div>{{inbox.Namespace}}</div>
                            </div>
                        </div>
                        <div class="info-row">
                            <mat-icon>swap_horiz</mat-icon>
                            <div>
                                <div class="info-label">Pipe</div>
                                <div>{{inbox.Pipe.Code}} - {{inbox.Pipe.Description}}</div>
                            </div>
                        </div>
                        <div class="info-row">
                            <mat-icon>source</mat-icon>
                            <div>
                                <div class="info-label">Source</div>
                                <div>{{inbox.Source}}</div>
                            </div>
                        </div>
                        <div class="info-row">
                            <mat-icon>mail</mat-icon>
                            <div>
                                <div class="info-label">Message Id</div>
                                <div>{{inbox.MsgId}}</div>
                            </div>
                        </div>
                        <div class="info-row">
                            <mat-icon>inventory</mat-icon>
                            <div>
                                <div class="info-label">Element</div>
                                <div>{{inbox.Element}}</div>
                            </div>
                        </div>
                        <div class="info-row">
                            <mat-icon>man</mat-icon>
                            <div>
                                <div class="info-label">Subject</div>
                                <div>{{inbox.Subject}}</div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer">
                </mat-card-footer>
            </mat-card>
            
            <!-- Ingestion -->
            <mat-card class="dp-card mat-card" appearance="outlined" *ngIf="(ingestion$ | async) as ingestion">
                <mat-card-header class="mat-card-header">
                    <div mat-card-avatar><img mat-card-image src="assets/img/ingestion-2.png" class="circular-avatar">
                    </div>
                    <mat-card-title>INGESTION</mat-card-title>
                    <mat-card-subtitle>Data Load</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <div class="chip-container">
                        <span>&nbsp;</span>
                    </div>
                    <div class="actions-section">
                        <button matTooltip="Repeat Ingestion" [disabled]="repeatDisabled()"
                            (click)="repeatInbox('ingestion', inbox)" type="submit"
                            mat-mini-fab color="link" style='margin-right: 10px;'>
                            <mat-icon>repeat</mat-icon>
                        </button>
                        <button mat-mini-fab color="link" style='margin-right: 10px;' [disabled]="!ingestion.HeaderId"
                            matTooltip="View Trace" (click)="datapipeService.clickSession(+ingestion.HeaderId, inbox.Namespace)">
                            <mat-icon>zoom_in</mat-icon>
                        </button>
                        <button mat-mini-fab color="link" style='margin-right: 10px;' matTooltip="Model Data" (click)="datapipeService.clickViewStream({
                                title: 'Model Data', icon: 'code', stream1: ingestion.ModelData})">
                            <mat-icon>code</mat-icon>
                        </button>
                    </div>
                    <div class="info-section">
                        <div class="info-row">
                            <mat-icon>access_time</mat-icon>
                            <div>
                                <div class="info-label">Created</div>
                                <div>{{ingestion.CreatedTS | date: 'dd/MM/yyyy HH:mm:ss':'GMT'}}</div>
                            </div>
                        </div>
                        <div class="info-row">
                            <mat-icon>device_hub</mat-icon>
                            <div>
                                <div class="info-label">Model Name</div>
                                <div>{{ingestion.ModelName}}</div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Staging -->
            <mat-card class="dp-card mat-card" appearance="outlined" *ngIf="(staging$ | async) as staging">
                <mat-card-header class="mat-card-header">
                    <div mat-card-avatar><img mat-card-image src="assets/img/email-automation.png"
                            class="circular-avatar">
                    </div>
                    <mat-card-title>STAGING</mat-card-title>
                    <mat-card-subtitle>Normalize & Validate</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <div class="chip-container">
                        <mat-chip-listbox
                                *ngIf="datapipeService.getStagingStatusChipFormat(staging.Status); let format">
                                <mat-chip [ngClass]="format.cssClass">
                                    <mat-icon>
                                        {{ format.icon }}
                                    </mat-icon>
                                    {{ format.desc }}
                                </mat-chip>
                        </mat-chip-listbox>
                    </div>
                    <div class="actions-section">
                        <button type="submit" [disabled]="repeatDisabled()" matTooltip="Repeat Staging"
                            (click)="repeatInbox('staging', inbox)" mat-mini-fab color="link"
                            style='margin-right: 10px;'>
                            <mat-icon>repeat</mat-icon>
                        </button>
                        <button mat-mini-fab color="link" style='margin-right: 10px;' [disabled]="!staging.HeaderId"
                            matTooltip="View Trace" (click)="datapipeService.clickSession(+staging.HeaderId, inbox.Namespace)">
                            <mat-icon>zoom_in</mat-icon>
                        </button>
                        <button mat-mini-fab color="link" style='margin-right: 10px;' matTooltip="Model Normalized Data"
                            (click)="datapipeService.clickViewStream({
                                title: 'Model Normalized Data', 
                                icon: 'code', 
                                stream1: staging.ModelNormData})">
                            <mat-icon>code</mat-icon>
                        </button>
                        <button mat-mini-fab color="link" style='margin-right: 10px;' *ngIf="(ingestion$ | async) as ingestion" [disabled]="!staging.ModelNormData"
                            matTooltip="Model Data Vs. Normalization" (click)="datapipeService.clickViewStream({
                            title: 'Model Data Vs. Normalization',
                            icon: 'compare',
                            stream1: ingestion.ModelData,
                            stream2: staging.ModelNormData})">
                            <mat-icon>compare</mat-icon>
                        </button>
                    </div>
                    <div class="info-section">
                        <div class="info-row">
                            <mat-icon>access_time</mat-icon>
                            <div>
                                <div class="info-label">Created</div>
                                <div>{{staging.CreatedTS | date: 'dd/MM/yyyy HH:mm:ss':'GMT'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="errors-container" *ngIf="staging.ValidationErrors">
                        <div class="error-row">
                            <mat-icon>error_outline</mat-icon>
                            <div>
                                <div class="error-label">Validation Errors</div>
                            </div>
                        </div>
                        <mat-list class="error-list">
                            <mat-list-item *ngFor="let error of (staging.ValidationErrors)" class="error-list-item">
                                <span matListItemTitle>{{ error.Code }}</span> 
                                <span>{{ error.Desc }}</span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Operation -->
            <mat-card class="dp-card mat-card" appearance="outlined" *ngIf="(oper$ | async) as oper">
                <mat-card-header class="mat-card-header">
                    <div mat-card-avatar><img mat-card-image src="assets/img/results.png" class="circular-avatar">
                    </div>
                    <mat-card-title>OPERATION</mat-card-title>
                    <mat-card-subtitle>Data Processing</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <div class="chip-container">
                        <mat-chip-listbox *ngIf="datapipeService.getOperStatusChipFormat(oper.Status); let format">
                            <mat-chip [ngClass]="format.cssClass">
                                <mat-icon>
                                    {{ format.icon }}
                                </mat-icon>
                                {{ format.desc }}
                            </mat-chip>
                        </mat-chip-listbox>
                    </div>
                    <div class="actions-section">
                        <div>
                            <button type="submit" [disabled]="repeatDisabled()" mat-mini-fab color="link"
                                style='margin-right: 10px;' matTooltip="Repeat Operation"
                                (click)="repeatInbox('operation', inbox)">
                                <mat-icon>repeat</mat-icon>
                            </button>
                            <button mat-mini-fab color="link" style='margin-right: 10px;' [disabled]="!oper.HeaderId"
                                matTooltip="View Trace" (click)="datapipeService.clickSession(+oper.HeaderId, inbox.Namespace)">
                                <mat-icon>zoom_in</mat-icon>
                            </button>
                            <button mat-mini-fab color="link" style='margin-right: 10px;' matTooltip="Operation Log"
                                (click)="datapipeService.clickViewStream({
                                            title: 'Operation Log', 
                                            icon: 'description', 
                                            stream1: oper.OperLog})">
                                <mat-icon>description</mat-icon>
                            </button>
                            <button mat-mini-fab color="link" style='margin-right: 10px;' matTooltip="Edit Normalized Data" *ngIf="(staging$ | async) as staging" [disabled]="(!oper.HeaderId) || !authService.checkPermission('DP_ADMIN', 'U')"
                                (click)="clickEditNormData(+oper.HeaderId, staging.ModelNormData)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="info-section">
                        <div class="info-row">
                            <mat-icon>access_time</mat-icon>
                            <div>
                                <div class="info-label">Created</div>
                                <div>{{oper.CreatedTS | date: 'dd/MM/yyyy HH:mm:ss':'GMT'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="errors-container" *ngIf="oper.OperErrors">
                        <div class="error-row">
                            <mat-icon>error_outline</mat-icon>
                            <div>
                                <div class="error-label">Operation Errors</div>
                            </div>
                        </div>
                        <mat-list class="error-list">
                            <mat-list-item *ngFor="let error of (oper.OperErrors)" class="error-list-item">
                                <span matListItemTitle>{{ error.Code }}</span> 
                                <span>{{ error.Desc }}</span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

    <mat-toolbar class="bottom-toolbar">
        <button mat-raised-button (click)="goBack()" style="margin-right:5px;float:right;">
            <mat-icon>arrow_back_ios</mat-icon>Back
        </button>
        <button mat-raised-button color="primary" (click)="loadData()" style="margin-right:5px;float:right;">
            <mat-icon>refresh</mat-icon>Reload
        </button>
    </mat-toolbar>

</div>

