<div class="">
    <p class="h2">Inbox List</p>

    <!-- filters form -->
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
            <mat-icon style='margin-right:5px;'>filter_list</mat-icon>Filters
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form #filtersForm="ngForm" (ngSubmit)="search()">

            <!-- filters row -->
            <div class="button-row">
            <mat-form-field floatLabel="always" style="width: 200px">
                <mat-label class="highlight-field">Status</mat-label>
                <mat-select [(ngModel)]="filters.Status" multiple name="Status">
                <mat-option *ngFor="let status of filteredStatus" [value]="status">
                    {{ status }}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" style="width: 200px">
                <mat-label class="highlight-field">Staging</mat-label>
                <mat-select [(ngModel)]="filters.StagingStatus" multiple name="StagingStatus">
                <mat-option *ngFor="let status of filteredStagingStatus" [value]="status">
                    {{ status }}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" style="width: 200px">
                <mat-label class="highlight-field">Operation</mat-label>
                <mat-select [(ngModel)]="filters.OperStatus" multiple name="OperStatus">
                <mat-option *ngFor="let status of filteredOperStatus" [value]="status">
                    {{ status }}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" style="width: 200px">
                <mat-label class="highlight-field">Ignored</mat-label>
                <mat-select placeholder="Ignored" [(ngModel)]="filters.Ignored" name="Ignored">
                <mat-option value="1">Yes</mat-option>
                <mat-option value="0">No</mat-option>
                <mat-option [value]="null"></mat-option>
                </mat-select>
            </mat-form-field>

            </div>

            <!-- filters row -->
            <div class="button-row">
            <mat-form-field floatLabel="always" style="width: 200px">
                <mat-label class="highlight-field">Source</mat-label>
                <input matInput [(ngModel)]="filters.Source" name="Source">
            </mat-form-field>
            
            <mat-form-field floatLabel="always" style="width: 400px">
                <mat-label class="highlight-field">Pipe</mat-label>
                <mat-select [(ngModel)]="filters.Pipe" multiple name="Pipe">
                <mat-option *ngFor="let pipe of filteredPipes" [value]="pipe.Code">
                    <u><small>{{ pipe.Code }}</small></u> - {{ pipe.Description }}
                </mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field floatLabel="always" style="width: 200px">
                <mat-label class="highlight-field">MsgId</mat-label>
                <input matInput [(ngModel)]="filters.MsgId" name="MsgId">
            </mat-form-field>
            <mat-form-field floatLabel="always" style="width: 200px"> 
                <mat-label class="highlight-field">Subject</mat-label>
                <input matInput [(ngModel)]="filters.Subject" name="Subject">
            </mat-form-field>
            <mat-form-field floatLabel="always" style="width: 200px">
                <mat-label class="highlight-field">Element</mat-label>
                <input matInput [(ngModel)]="filters.Element" name="Element">
            </mat-form-field>
            </div>

            <!-- filters row -->
            <div class="button-row">
            <mat-form-field floatLabel="always" style="width: 200px">
                <input matInput placeholder="Updated Date (From)" [matDatepicker]="updatedTSFrom"
                [(ngModel)]="filters.UpdatedTSFrom" name="updatedTSFrom">
                <mat-datepicker-toggle matSuffix [for]="updatedTSFrom"></mat-datepicker-toggle>
                <mat-datepicker #updatedTSFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field floatLabel="always" style="width: 200px">
                <input [disabled]="!filters.UpdatedTSFrom" matInput placeholder="Updated Time (From)" [(ngModel)]="filters.UpdatedTSFromTime" name="updatedTSFromTime">
            </mat-form-field>

            <mat-form-field floatLabel="always" style="width: 200px">
                <input matInput placeholder="Updated Date (To)" [matDatepicker]="updatedTSTo"
                [(ngModel)]="filters.UpdatedTSTo" name="updatedTSTo">
                <mat-datepicker-toggle matSuffix [for]="updatedTSTo" ></mat-datepicker-toggle>
                <mat-datepicker #updatedTSTo></mat-datepicker>
            </mat-form-field>
            <mat-form-field floatLabel="always" style="width: 200px">
                <input [disabled]="!filters.UpdatedTSTo" matInput placeholder="Updated Time (To)" [(ngModel)]="filters.UpdatedTSToTime" name="updatedTSToTime">
            </mat-form-field>
            </div>

            <!-- filters buttons -->
            <div class="button-row">
            <button type="button" mat-raised-button (click)="clickResetFilters('all')" style='background-color: #999; color:#fff'>All Today</button>
            <button type="button" mat-raised-button (click)="clickResetFilters('errors')" style='background-color: #999; color:#fff'>Errors</button>
            <button type="button" mat-raised-button (click)="clickResetFilters('warnings')" style='background-color: #999; color:#fff'>Warnings</button>
            <span class="fill-space"></span>
            <button type="submit" mat-raised-button color="primary" [disabled]="!canSearch()"  >
                <mat-icon>search</mat-icon>Search
            </button>
            </div>
            
        </form>
        </mat-expansion-panel>
    </mat-accordion>


    <!-- results table -->
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef width="150px"> </th>
            <td mat-cell *matCellDef="let inbox"> 
                <button matTooltip="Details" mat-icon-button routerLink="/datapipe/{{ inbox.Id }}">
                    <mat-icon aria-label="info">info</mat-icon>
                </button>
                
                <button matTooltip="Unignore" mat-icon-button *ngIf="(authService.checkPermission('DP_ADMIN', 'U') && inbox.Ignored==1)" (click)="clickIgnore(inbox)">
                    <mat-icon aria-label="Hide">visibility_on</mat-icon>
                </button>

                <button matTooltip="Ignore" mat-icon-button *ngIf="(authService.checkPermission('DP_ADMIN', 'U') && inbox.Ignored!==1)" (click)="clickIgnore(inbox)">
                    <mat-icon aria-label="Hide">visibility_off</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let inbox"> {{inbox.Id}} </td>
        </ng-container>

        <ng-container matColumnDef="Source">
            <th mat-header-cell *matHeaderCellDef> Source </th>
            <td mat-cell *matCellDef="let inbox"> {{inbox.Source}} </td>
        </ng-container>

        <ng-container matColumnDef="Pipe">
            <th mat-header-cell *matHeaderCellDef> Pipe </th>
            <td mat-cell *matCellDef="let inbox"> {{inbox.Pipe}} </td>
        </ng-container>

        <ng-container matColumnDef="MsgId">
            <th mat-header-cell *matHeaderCellDef> MsgId </th>
            <td mat-cell *matCellDef="let inbox"> {{inbox.MsgId}} </td>
        </ng-container>

        <ng-container matColumnDef="Subject">
            <th mat-header-cell *matHeaderCellDef> Subject </th>
            <td mat-cell *matCellDef="let inbox"> {{inbox.Subject}} </td>
        </ng-container>

        <ng-container matColumnDef="Element">
            <th mat-header-cell *matHeaderCellDef> Element </th>
            <td mat-cell *matCellDef="let inbox"> {{inbox.Element}} </td>
        </ng-container>

        <ng-container matColumnDef="UpdatedTS">
            <th mat-header-cell *matHeaderCellDef width="170px"> Updated </th>
            <td mat-cell *matCellDef="let inbox"> {{ inbox.UpdatedTS | date:'dd/MM/yyyy HH:mm:ss':'GMT' }} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef width="180px"> Status </th>
            <td mat-cell *matCellDef="let inbox"> 
                <span *ngIf="datapipeService.getInboxStatusChipFormat(inbox.Status); let format">
                    <mat-chip [ngClass]="format.cssClass">{{ inbox.Status }}</mat-chip>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="StagingStatus">
            <th mat-header-cell *matHeaderCellDef width="180px"> Staging </th>
            <td mat-cell *matCellDef="let inbox"> 
                <span *ngIf="datapipeService.getStagingStatusChipFormat(inbox.StagingStatus,inbox.ValidationErrors); let format">
                    <mat-chip [ngClass]="format.cssClass">
                        <mat-icon [matTooltip]="format.tooltip" style="margin-top:4px">
                            {{ format.icon }}
                        </mat-icon>
                        {{ format.desc }}
                    </mat-chip>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="OperStatus">
            <th mat-header-cell *matHeaderCellDef width="180px"> Operation </th>
            <td mat-cell *matCellDef="let inbox"> 
                <span *ngIf="datapipeService.getOperStatusChipFormat(inbox.OperStatus, inbox.OperRetries, inbox.OperErrors); let format">
                    <mat-chip [ngClass]="format.cssClass">
                        <mat-icon [matTooltip]="format.tooltip" style="margin-top:4px">
                            {{ format.icon }}
                        </mat-icon>
                        {{ format.desc }}
                    </mat-chip>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator #paginator [length]="totalResults" [pageSize]="20" [pageSizeOptions]="[10, 20, 50]" (page)="onChangePage($event)"></mat-paginator>

</div>
