<div class="card-container">

	<mat-card class="mat-card" appearance="outlined">
		<mat-card-header class="mat-card-header">
			<div mat-card-avatar><mat-icon>{{ icon }}</mat-icon></div>
			<mat-card-title>{{ title }}</mat-card-title>
			<mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<!-- option: viewing stream1 -->
			<div class="stream-container" *ngIf=(!stream2)>
				<pre>{{ stream1 }}</pre>
			</div>

			<!-- option: viewving stream1 Vs stream2 -->
			<div class="stream-container" *ngIf=(stream2)>	
				<ngx-side-by-side-diff 
					class="ngx-diff-light-theme my-custom-ngx-diff-theme" 
					[before]="stream1" 
					[after]="stream2" 
				/>
			</div>
		</mat-card-content>
	</mat-card>

</div>