/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** Fill space. Used in toolbar and centered elements */
.fill-space {
    flex: 1 1 auto;
}

/** Inbox status chips */
.status-general .mat-mdc-chip-action-label {
	color: #fff !important;
	font-weight: 500;
}

.status-ingesting, .status-staging, .status-operating {
	background-color:#f5a973 !important;
}

.status-done {
	background-color: #407829 !important;
}

.status-error-ingesting, .status-error-staging, .status-error-operating, .status-error-general {
	background-color:#f57c6e !important;
}

/** Staging Status chips */
.staging-valid {
	background-color:#aed689 !important;
}
.staging-valid .mat-mdc-chip-action-label {
	color: #407829 !important;
}
.staging-invalid {
	background-color:#f57c6e !important;
}
.staging-invalid .mat-mdc-chip-action-label {
	color: #9d0808 !important;
} 
.staging-warning {
	background-color:#ffc107 !important;
}
.staging-warning .mat-mdc-chip-action-label {
	color: #343a40 !important;
}
.staging-na {
	background-color:#bbb !important;
}
.staging-na .mat-mdc-chip-action-label {
	color: #eee !important; 
}

/** Oper Status chips */
.oper-general .mat-mdc-chip-action-label {
	color: #fff !important;
}
.oper-processing {
    background-color: #17a2b8 !important;
}
.oper-processed {
	background-color:#aed689 !important;
}
.oper-processed .mat-mdc-chip-action-label {
	color: #407829 !important; 
}
.oper-error {
	background-color:#f57c6e !important; 
}
.oper-na {
	background-color:#bbb !important;
}
.oper-na .mat-mdc-chip-action-label {
	color: #eee !important; 
}
.oper-ignored {
	background-color:#9370DB !important; 
}

/** fields */
.field-xxs {
    width: 84px;
    margin-right: 15px;
}
.field-xs {
    width: 168px;
    margin-right: 15px;
}

.field-s {
    width: 260px;
    margin-right: 15px;
}
.field-4s {
    margin-right: 15px;
    width: 1085px;
}
.field-m {
    width: 400px;
    margin-right: 15px;
}

.field-sm {
    width: 353px;
    margin-right: 15px;
}
.field-sxs {
    width: 443px;
    margin-right: 15px;
}
.field-l {
    width: 535px;
    margin-right: 15px;
}
.field-xl {
    width: 810px;
    margin-right: 15px;
}
.field-xxl {
    width: 100%;
    margin-right: 0px;
}

/** bottom toolbar (auxiliary) */
.bottom-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end; /* align elements at the end of container */
    align-items: center; /* vertically align elements (center) */
    color: #ffffff;
    height: 56px;
    padding: 0 16px; /* padding space for buttons */
  }