<!-- main -->
<div class="">
  <p class="h2">Catalog categories</p>

  <!-- filters form -->
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon style='margin-right:5px;'>filter_list</mat-icon>
          Filters
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- filters row -->
      <div class="button-row">
        <!-- Code -->
        <mat-form-field floatLabel="always" class="field-xl">
          <mat-label class="highlight-field">Filter</mat-label>
          <input matInput [(ngModel)]="filter" debouncedInput (debouncedValue)="search()" name="Filter">
        </mat-form-field>
      </div>

      <!-- filters buttons -->
      <span class="button-row">
                <span class="fill-space"></span>
                <button type="submit" mat-raised-button color="primary" (click)="search()">
                    <mat-icon>search</mat-icon>Search
                </button>
                <button type="button" mat-raised-button (click)="filter = ''; search()">Reset</button>
            </span>

    </mat-expansion-panel>
  </mat-accordion>

  <!-- results table -->
  <!-- can initilize matSort options as: matSortActive="Name" matSortDirection="asc" -->
  <div [hidden]="categories" style="width: 100%;display: flex;  flex-direction: column;  align-items: center;">
    <mat-spinner diameter="50"></mat-spinner>
    <span class="loading-text">Loading catalogs...</span>
  </div>
  <table mat-table *ngIf="categories" [dataSource]="categories">

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef style="width:15%;"> Name</th>
      <td mat-cell *matCellDef="let category" style="width:15%;">
        <mat-form-field floatLabel="always" class="field-s">
          <input matInput [(ngModel)]="category.Name" (ngModelChange)="anyChanges = true; cdr.markForCheck()"
                 name="Name">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="Resource">
      <th mat-header-cell *matHeaderCellDef style="width:25%;"> Resource</th>
      <td mat-cell *matCellDef="let category" style="width:25%;">
        <catalog-suggestion-input [suggestions]="resources" [(value)]="category.Resource"
                                  (valueChange)="anyChanges = true;cdr.markForCheck()"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="DeleteCategory">
      <th mat-header-cell *matHeaderCellDef style="width:25%;"></th>
      <td mat-cell *matCellDef="let category" style="width:25%;">
        <button mat-button (click)="deleteCategory(category.Id)">
          <mat-icon style="color: red">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-toolbar class="bottom-toolbar">
    <button mat-raised-button color="primary" (click)="create()">
      <mat-icon>add</mat-icon>
      New Category
    </button>
    <button mat-raised-button color="primary" style="padding-left: 10px" [disabled]="!anyChanges" (click)="save()">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </mat-toolbar>

</div>
